input {
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  /* margin-left: 10px; */
  width: 50%;
}

label {
  display: inline-block;
  *display: inline;
  zoom: 1;
  /* float: left; */
  padding-top: 5px;
  text-align: left;
  width: 150px;
  font-size: 15px;
}

select {
  /* margin-left: 10px; */
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
}
.centered-header {
  text-align: center;
  color: #000;
}
.rdt_TableCol {
  justify-content: center;
  /* text-align: center; */
}
